<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Shawty</h1>
        <form action="/logout?_method=DELETE" method="POST">
            <button type="submit">Log Out</button>
        </form>
        <form action="/" method="post" class="my-4 form-inline">
            <label for="fullUrl" class="sr-only">Url</label>
            <input required placeholder="Url" type="url" name="fullUrl" id="fullUrl" class="form-control mr-2 col"/>
            <button type="submit" class="btn btn-success">Shrink</button>
        </form>
    
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Full Url</th>
                        <th>Short Url</th>
                        <th>Clicks</th>
                    </tr>
                </thead>
                <tbody>
                    <% shortUrls.forEach(shortUrl => { %>
                        <tr>
                            <td><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
                            <td><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
                            <td><%= shortUrl.clicks %></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        
    </div>
</body>
</html>